<h1>CELEBRITIES</h1>

<div>
    {{#each celebrities}}
        <ul>
            <li>{{name}}</li>
            <li>{{occupation}}</li>
            <li>{{catchPhrase}}</li>
        </ul>
    {{/each}} <br>
    <button><a href="/">HOME</a></button>
</div>